*{
    /*border:1px solid;*/
}
#navbarSupportedContent{
    margin-left:11%;
}
.download{
    border-radius: 25px 25px 4px 25px !important;
    font-weight: bold !important;
}
#box1{
    width: 65px;
    height: 4px;
    background-color: black;
}
.section1 h1{
    font-size: 50px;
}
.section1 p{
    font-size: 25px;
}
.section1 button{
    font-size: 25px;
    border-radius: 10px;
}
.section3 img{
    width: 100%;
}
.section3 h1{
    font-size: 50px; 
}

#box2{
    width: 85px;
    height: 4px;
    background-color:gold;
}
.section4 h1{
    font-size: 50px;
}
#box3{
    width: 120px;
    height: 4px;
    background-color:gold;
    margin-bottom: 20px;
}
.section5{
    background: rgb(30, 75, 130);
}
.section5 h1{
    font-size: 56px;
}
.section5 p{
    font-size: 36px;
}
.section5 button{
    border-radius: 30px;
    font-size: 30px;
    padding: 5px;
}
#box4{
    width: 150px;
    height: 4px;
    background-color:gold;
}
.section6{
    background-color: rgb(245, 245, 245);
}
.section6 h1{
    font-size: 50px;
}
